.wrapperclass {
    position: relative;
    display: inline;
    scroll-padding-top: 50px; 
    padding-bottom: 50px;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: sticky;
  top: 67px;
  box-shadow: rgba(214, 173, 255, 0.33) 0px 1px 10px;
  background-color: white;
  max-width: 1135px;
  margin: 0 auto;
  border-radius: 15px;
  margin-top: 60px;
  }
  
  .features {
    display: grid;
    font-size: 18px;
    width: 273px;
    color: #54536E;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 30px;
    margin-right: 18px;
  }

  /* .offer {
    text-align: center;
    position: relative;
    font-style: italic;
    left: 47px;
    font-size: 18px;
    font-weight: bold;
    color: #f57400;
    padding: 5px 0;
}

.offers::after {
  content: url('../../Asserts/curve2.svg');
    position: absolute;
    top: 136%;
    left: 684px;
    transform: translateY(-50%);
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
} */

.togglearea {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    position: absolute;
    bottom: 175px;
    left: 187px;
  }
  
  .togglearea input[type="checkbox"] {
    display: none;
  }
  
  .togglearea label {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #54536e;
    font-family: 'Open Sans', Regular;
    font-size: clamp(15px, 4vw, 18px);
  }
  
  .togglearea .togglebtn {
    width: 46px;
    height: 26px;
    border-radius: 23px;
    background: #6ceedb;
    background: linear-gradient(to right, #6ceedb 0%, #6de19b 13%, #6de19b 100%);
    position: relative;
    transition: all 0.2s linear;
    margin-left: 10px;
  }
  
  .togglearea .togglebtn::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #fff;
    transition: all 0.2s linear;
  }
  
  .togglearea input[type="checkbox"]:checked + .togglebtn {
    background: #6de19b;
  }
  
  .togglearea input[type="checkbox"]:checked + .togglebtn::before {
    transform: translateX(20px);
  }

  @media (max-width: 768px) {
    .card-container {
      display: none;
    }
    .features {
      display: none;
    }

  }

  @media (max-width: 872px) {
    .features {
      display: none;
    }
    .card-container {
      display: none;
    }
    .wrapper {
      display: none;
    }
    /* .table-container {
      max-width: 844px !important;
    } */
  }
  @media (max-width: 1164px) {
    .features {
      display: none;
    }
    
    /* .table-container {
      max-width: 844px !important;
    } */
    
    
  }
/*  */
.featureoffer {
  text-align: center;
  position: relative;
  font-style: italic;
  left: 72px;
  top: 18px;
  font-size: 18px;
  font-weight: bold;
  color: #f57400;
  padding: 5px 0;
}

.featureoffer::after {
  content: url('../../Asserts/curve2.svg');
  position: relative;
  transform: translateY(-50%);
  top: 38px;
  right: 56px;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}


.featuretoggleareabanner {
  display: inline-flex;
  position: relative;
  right: 2px;
  gap: 10px;
  bottom: 109px;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.featuretoggleareabanner input[type="checkbox"] {
  display: none;
}

.featuretoggleareabanner label {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #54536e;
  font-family: 'Open Sans', Regular;
  font-size: clamp(15px, 4vw, 18px);
}

.featuretoggleareabanner .togglebtn {
  width: 46px;
  height: 26px;
  border-radius: 23px;
  background: #6ceedb;
  background: linear-gradient(to right, #6ceedb 0%, #6de19b 13%, #6de19b 100%);
  position: relative;
  transition: all -0.8s linear;
  margin-left: 10px;
}

.featuretoggleareabanner .togglebtn::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #fff;
  transition: all 0.2s linear;
}

.featuretoggleareabanner input[type="checkbox"]:checked + .togglebtn {
  background: #6de19b;
}

.featuretoggleareabanner input[type="checkbox"]:checked + .togglebtn::before {
  transform: translateX(20px);
}