.wrapperclass {
    position: relative;
    height: 1000px;
    display: block;
    scroll-padding-top: 50px; 
    padding-bottom: 50px;
}


.card-container {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: sticky;
    top: 0;
    padding: 10px;
    z-index: 1;
  }
  
  .features {
    display: grid;
    font-size: 18px;
    width: 284px;
    height: 440px;
    color: #54536E;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 30px;
  }

  .offer {
    text-align: center;
    position: relative;
    font-style: italic;
    left: 47px;
    font-size: 18px;
    font-weight: bold;
    color: #f57400;
    padding: 5px 0;
}

.offers::after {
  content: url('../../Asserts/curve2.svg');
    position: absolute;
    top: 136%;
    left: 684px;
    transform: translateY(-50%);
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.togglearea {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    position: absolute;
    bottom: 175px;
    left: 187px;
  }
  
  .togglearea input[type="checkbox"] {
    display: none;
  }
  
  .togglearea label {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #54536e;
    font-family: 'Open Sans', Regular;
    font-size: clamp(15px, 4vw, 18px);
  }
  
  .togglearea .togglebtn {
    width: 46px;
    height: 26px;
    border-radius: 23px;
    background: #6ceedb;
    background: linear-gradient(to right, #6ceedb 0%, #6de19b 13%, #6de19b 100%);
    position: relative;
    transition: all 0.2s linear;
    margin-left: 10px;
  }
  
  .togglearea .togglebtn::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #fff;
    transition: all 0.2s linear;
  }
  
  .togglearea input[type="checkbox"]:checked + .togglebtn {
    background: #6de19b;
  }
  
  .togglearea input[type="checkbox"]:checked + .togglebtn::before {
    transform: translateX(20px);
  }

  @media (max-width: 768px) {
    .card-container {
      display: none;
    }
  }
/*  */