

.grid {
    display: flex;
    flex-wrap: wrap; /* Wrap grid items onto multiple lines */
    justify-content: space-between; /* Align grid items evenly */
    background: #0D0F0F;
  }
  
  .item {
    width: calc(25% - 10px); /* Four columns with 10px gap */
    margin-bottom: 20px; /* Add vertical spacing between grid items */
    background-color: #0D0F0F;
    text-align: center;
    width: 226px;
    flex-basis: calc(25% - 10px);
  }
  

 

  .list {
    list-style: none;
    margin: 0;
    padding: 5px;
    width: max-content;
  }

  ul {
    margin-left: 25px;
    font-size: 18px;
  }


.footer a {
    font-family: "Inter", sans-serif;
    font-size: 18px;
}



  footer li a {
    display: inline-block;
    padding: 6px 0px;
    color: #9AA2AD;
    font-family: "Open Sans", sans-serif;
    font-size: clamp(16px, 3vw, 18px);
    text-decoration: none;
    position: relative;
}

.footerLinkAdder{
    margin-right: 10px;
    color: #9AA2AD;
    font-size: 18px;
}

.address {
  font-family: "Inter", sans-serif !important;

}

footer .address h6 {
  font-size: clamp(18px, 4vw, 24px);
}

.address h6 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: clamp(16px, 3vw, 18px);
  font-weight: 800;
  margin-bottom: 0.5em;


}

.address p {
  margin-bottom: 2px;
}

.address p small {
  color: white;
  position: relative;
  left: 18px;

}

.address p strong {
  font-family: "Inter", sans-serif !important;
  color: white;
}

.address p span {
  color: #F47503;
}

.address p {
  margin-bottom: 2px;
}

.address p:last-of-type {
  font-size: clamp(13px, 3vw, 15px);
  color: #AFAFAF;
  line-height: 1.7;
  text-align: left;
  position: relative;
  left: 66px;
}

 @media screen and (min-width:768px) {
  .address {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 90px;
  }


  .address p:last-of-type {
    font-size: clamp(13px, 3vw, 15px);
    color: #AFAFAF;
    line-height: 1.7;

}
  
 }
 @media screen and (max-width:768px) {
  .address {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 20px;
  }
  .address p:last-of-type {
    font-size: clamp(13px, 3vw, 15px);
    color: #AFAFAF;
    line-height: 1.7;
    
}

  
 }

  @media (max-width: 992px) {
    .item {
      width: calc(33.33% - 15px); /* Three columns with 15px gap */
    }
    
  }
  
  @media (max-width: 768px) {
    .item {
      width: calc(50% - 15px); /* Two columns with 15px gap */
    }
  ul {
    font-size: 18px;
}

  }
  
  @media (max-width: 480px) {
    .item {
      width: 100%; /* One column with full width */
    }

  ul {
    margin-left: 0px;
  }
  h6 {
    color: #fff;
    font-family: Poppins,sans-serif;
    font-size: 18px;
    font-size: clamp(16px,3vw,18px);
    font-weight: 800;
    margin-bottom: 1.5em;
    text-align: left;
    margin-left: 0;
}
 
  }

  