/* .table-container {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: auto;
  margin: 0 auto; 
  max-width: 1135px;
  padding: 20px; 
} */

.table-container {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin: 3px auto;
  margin-right: 51px;
  text-align: center;
  justify-content: center;
  width: 100%; /* Set the width to 100% */
  max-width: 1135px; /* Set the max-width to match the card container */
  margin: 0 auto;
  box-shadow: rgba(214, 173, 255, 0.33) 0px 1px 10px;
  border-bottom: 20px;
  margin-bottom: 40px;
}

.table-row {
  display: flex;
  height: 25px;
  color: #54536E;
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: left;
  justify-content: center;
  padding: 10px;
  flex-wrap: nowrap;
  border: 1px solid #EFF0F1;
  border-right:1px solid #EFF0F1 ;
  border-left:1px solid #EFF0F1 ;
}

.header-row {
height: 25px;
text-align: center;
justify-content: center;
padding: 10px;
border: 1px solid #EFF0F1;
font: normal normal bold 18px/27px Poppins;
letter-spacing: 0px;
color: #54536E;
opacity: 1;
}

.table-cell {
  flex: 1;
  padding-bottom: 10px;
  text-align: center;
}

/* .center {
  teing-left: 0px;xt-align: center;
  padd
} */

.wrapper {
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: auto; /* Disable vertical scrolling */
  color: #54536c;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: left;
}

@media (max-width: 600px) {
  .table-row {
    flex-wrap: wrap;
  }
  
  .table-cell {
    flex-basis: 50%;
  }
}

@media (max-width: 768px) {
  .table-container {
    width: 100%;
  }

@media screen and (max-width:900px) {
 
  
}
}