@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

.headerbanner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  column-gap: 20px;
}
.foot-header {
  text-align: left;
font: normal normal bold 22px/21px Inter;
letter-spacing: 0px;
color: #FFFFFF;
}
.footer-div{
  text-align: left;
}
.smalltxt{
  text-align: left;
font: normal normal normal 12px/33px Inter;
letter-spacing: 0px;
color: #9AA2AD;
}
 .copytxt{
  left: 0 !important;
  text-align: left !important;
}



